# Ignore virtual environment
.venv/
.env

# Ignore any compiled Python files
*.pyc

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore any cache directories
__pycache__/
.ipynb_checkpoints
# Ignore any local data files
data/

# Ignore any compiled binary files
*.pyd
*.exe
*.dll
*.so
*.dylib
*.bak

# Ignore any project configuration files
*.cfg
*.conf
*.ini

# Ignore database files
*.db

# Ignore macOS folder attributes
.DS_Store
